<% provide :title, t("user.word.title") %>
<h2><%= t "user.word.title" %></h2>
<div>
  <%= form_tag words_path, method: :get do %>
  <% filter_status = params[:filter] || Settings.filter_options.last %>
    <% Settings.filter_options.each do |option| %>
      <span>
        <%= radio_button_tag :filter, option, filter_status == option %>
        <%= t "#{option}" %>
      </span>
    <% end %>
    <span class="search_form">
      <%= select_tag :category_id, options_for_select(
        @categories.collect {|category| [category.name, category.id]},
        params[:category_id]) %>
      <%= submit_tag t("user.word.filter_btn"), id: "searchbtn" %>
    </span>
  <% end %>
</div>
<div class="table-responsive table-condensed">
  <table class="table">
    <thead>
      <tr>
        <th class="index"></th>
        <th class="index"><%= t "user.word.content" %></th>
        <th class="index text-center"><%= t "user.word.answer_word" %></th>
      </tr>
    </thead>
    <tbody>
      <% @words.each_with_index do |word, index| %>
        <tr>
          <td><%= index.to_i + 1 %></td>
          <td><%= word.content %></td>
          <td>
            <div class="row text-center">
              <%= link_to "", word_word_answers_path(word),
                class: "glyphicon glyphicon-eye-open",
                id: "show_word_answer",
                onclick: "return show_word_answer(this)" %>
              <div class="row show_word_answer_<%= word.id %>"></div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
