<% provide :title, t("admin.category.name") %>
<div class="row">
  <div class="col-md-12">
    <div class="ed_teacher_div">
      <div class="row">
        <h2 class="text-center"><%= t "admin.category.name" %></h2>
        <div class="row navbar-right">
          <div class="form">
            <div class="form-group">
              <%= link_to t(".btn_new"), new_admin_category_path, class: "button" %>
            </div>
          </div>
        </div>
        <div class="table-responsive table-condensed admin-category">
          <table class="table">
            <thead>
              <tr>
                <th class="index"></th>
                <th><%= t ".name" %></th>
                <th class="action"><%= t ".action" %></th>
                <th class="action"></th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each_with_index do |category, index | %>
                <tr>
                  <td><%= index.to_i + 1 %></td>
                  <td><%= category.name %></td>
                  <td>
                    <%= link_to [:admin, category], method: :delete,
                      data: {confirm: t(".confirm")} do %>
                      <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_admin_category_path(category) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                    <%= link_to admin_category_path(category) do %>
                      <span class="glyphicon glyphicon-check"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= will_paginate %>
