<header id="ed_header_wrapper">
  <div class="ed_header_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <div class="framgia_edu_logo">
            <%= link_to image_tag("logo.png"), root_path, id: :logo %>
          </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8">
          <div class="framgia_menu">
            <ul class="collapse navbar-collapse" id="ed_menu">
              <li class="active">
                <%= link_to t("homepage_link"), root_path %>
              </li>
              <li>
                <%= link_to t("user.users_index"), users_path %>
              </li>
              <li>
                <%= link_to t("user.lesson.title"), categories_path %>
              </li>
              <% if logged_in? %>
                <li>
                  <%= link_to t("user.settings"), edit_user_path(current_user) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <% if logged_in? %>
            <div class="ed_info_wrapper">
              <%= link_to t("user.logout"), logout_path, method: :delete,
                class: "glyphicon glyphicon-user" %>
            </div>
          <% else %>
            <div class="ed_info_wrapper">
              <%= link_to t("login.title"), "#", id: :login_button,
                class: "glyphicon glyphicon-user" %>
              <div id="login_one" class="ed_login_form">
                  <%= render "sessions/new" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
